.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.todo-list-container {
  background-color: #ebebeb;
  padding: 5%;
  border-radius: 20px;
}
ul {
  display: flex;
  flex-direction: column;
}
li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}
.remove-item:hover {
  cursor: pointer;
}
input {
  width: 100%;
}